@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("List", "Index")
        @Html.ActionLink("New", "Create")
        @Html.ActionLink("Update", "Edit")
        @Html.ActionLink("Delete", "Delete")
    </div>
</body>
</html>
